body {
  background: white;
}

h1 {
  text-align: center;
  font-size: 2em;
  width: 5em;
  color: gold;
  font-family: cursive;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3em;
  border-radius: 1em;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

#player {
  width: 3em;
  height: 3em;
  background: none;
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.mazeRow {
  display: flex;
  flex-direction: row;
}

.borderWall {
  height: 3em;
  width: 3em;
  background-image: url("brick.jpg");
}

#start {
  height: 3em;
  width: 3em;
  background: pink;
  border: 0.02em solid white;
  box-sizing: border-box;
  border-top: none;
}

.blankSpace {
  height: 3em;
  width: 3em;
  background: white;
}

.openStorage {
  height: 3em;
  width: 3em;
  background-image: url(bank.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  height: 2em;
  width: 2em;
  background-image: url(money.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.box2 {
  height: 2em;
  width: 2em;
  background-image: url(money.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
